:root {
  --primary-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, main {
  max-width: 90%;
  margin: 0 auto;
}

header {
  padding-top: 1rem;
}

header .title {
  padding-bottom: 0;
}

button {
  width: 100%;
}

.loading {
  text-align: center;
}

.meowers-container {
  margin-top: 3rem;
  text-transform: capitalize;
}

.meowers-container div {
  border-top: .5px solid #eee;
  padding: 1rem 0;
  margin-bottom: .2rem;
}

.meowers-container h5 {
  font-weight: 700;
  display: inline;
}

.meowers-container h5::after {
  content: '.'
}

.meowers-container p {
  font-size: 1.65rem;
  margin-bottom: .5rem;
}
